[Desktop Entry]
Name=Install .deb file
Name[pt]=Instalar arquivo .deb
Exec=debtap-gui %F
Icon=application-x-deb
NoDisplay=true
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;application/x-deb;
StartupNotify=true 
